<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bayu.imk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HewanDaratActivity" android:screenOrientation="landscape"/>
        <activity android:name=".SapiActivity" android:screenOrientation="landscape"/>
        <activity android:name=".KambingActivity" android:screenOrientation="landscape"/>
        <activity android:name=".HarimauActivity" android:screenOrientation="landscape"/>
        <activity android:name=".KucingActivity" android:screenOrientation="landscape"/>
        <activity android:name=".GajahActivity" android:screenOrientation="landscape"/>
        <activity android:name=".OrangutanActivity" android:screenOrientation="landscape"/>
        <activity android:name=".HewanLautActivity" android:screenOrientation="landscape"/>
        <activity android:name=".LumbaActivity" android:screenOrientation="landscape"/>
        <activity android:name=".pausActivity" android:screenOrientation="landscape"/>
        <activity android:name=".AnjinglautActivity" android:screenOrientation="landscape"/>
    </application>

</manifest>